.footerMainPart {
	background-color: #1c1c18;
	color: white;
	margin: 0 auto;
	padding: 100px;
}
.links a {
	color: wheat;
	width: 100%;
	display: block;
	margin-left: 10px;
}
.links a:hover {
	text-decoration: none;
	color: tomato;
}
.address,
.phoneNumber {
	padding: 20px;
}
.special-line {
	width: 100%;
	border-bottom: 2px solid gray;
}
