.NavBarPart {
	background-color: #ffffff;
	height: 100px;
	margin: 20px 0;
}
.logo img {
	width: 200px;
}

.navMenu a {
	margin: 10px 25px;
	color: black;
	font-size: 20px;
	width: 100px;
}
.navMenu a:hover {
	text-decoration: none;
	color: #ce6650;
}
